<!DOCTYPE html>
<html>
	<head>
		<title>MrJSON - Free Mock JSON Data API for Devs</title>

		<link rel="icon" href="/assets/images/favicon.webp" type="image/webp" />
		<link rel="stylesheet" href="/assets/css/styles.css" />

		<meta name="description" content="MrJSON is a free mock JSON data generator API for developers and testing. Generate realistic mock data for your applications and tests." />
		<meta name="keywords" content="JSON generator, mock JSON, fake data API, free JSON API, test data generator, API testing tool, random JSON" />
		<meta property="og:title" content="MrJSON - Free Mock JSON Data API for Devs" />

		<meta property="og:description" content="Generate mock JSON data instantly with MrJSON's free API. Perfect for developers and testing purposes." />
		<meta property="og:url" content="https://mrjson.com" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="https://mrjson.com/assets/logo.webp" />

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/github-markdown-css@5.2.0/github-markdown.min.css" />
	</head>

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-B6XXJ0XT9N"></script>
	<script>
		window.dataLayer = window.dataLayer || []
		function gtag() {
			dataLayer.push(arguments)
		}
		gtag('js', new Date())
		gtag('config', 'G-B6XXJ0XT9N')
	</script>

	<body>
		<div class="logo-container">
			<img src="/assets/images/logo.webp" alt="MrJSON Logo" />
		</div>
		<div class="markdown-body"> {{content}} </div>
	</body>
</html>
