.logo-container {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 100;
    width: 300px;
    height: auto;
}

.logo-container img {
    width: 100%;
    height: auto;
    border-radius: 50%;
} 